<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login/password" method="post">
      <label for="current-username">Username</label>
      <input type="text" name="username" id="current-username" />
      <label for="current-password">Password</label>
      <input type="text" name="password" id="current-password" />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
