<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="api/v1/auth/signup/local" method="post">
      <label for="current-name">Name</label>
      <input type="text" name="name" id="current-name" />
      <label for="current-username">Username</label>
      <input type="text" name="username" id="current-username" />
      <label for="current-email">Email</label>
      <input type="email" name="email" id="current-email" />
      <label for="current-password">Password</label>
      <input type="text" name="password" id="current-password" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
